<a href="https://colab.research.google.com/github/VitikaJain25/PandasRevision/blob/master/Different_Ways_Of_Creating_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Different ways of creating Dataframe.

Also refer to - https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

In [0]:
import pandas as pd

weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'windspeed': [6,7,2],
    'event': ['Rain', 'Sunny', 'Snow']
}
df = pd.DataFrame(weather_data)   #using Python Dictionary.
df

        day  event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2

In [0]:
weather_data = [('1/1/2017', 'Rain' ,	32	, 6),
               ('1/2/2017',	'Sunny'	,35,	7),
               ('1/3/2017',	'Snow'	,28,	2)]
df = pd.DataFrame(weather_data, columns = ["day","event", "temerature", "windspeed"])   # Using Tuples list. -- We have to provide column names as argument. 
df

        day  event  temerature  windspeed
0  1/1/2017   Rain          32          6
1  1/2/2017  Sunny          35          7
2  1/3/2017   Snow          28          2

In [0]:
weather_data = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'},
    
]
df = pd.DataFrame(weather_data)            # Using List of Dictionaries.
df

        day  event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2

In [0]:
df = pd.read_csv("Filename.csv")   #Read a CSV file
df

In [0]:
df = pd.read_excel("Filename.xlsx", "Sheet name")     #Read a xlsx file. --- Sheet name also required.
df