<a href="https://colab.research.google.com/github/VitikaJain25/PandasRevision/blob/master/HandleMissingData_fillna%2Cinterpolation%2Cdropna.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

How to Handle Missing Data using:
- fillna  -- To fill missing values using different ways
- interpolation  -- Interpolate to make a guess on missing values.
- dropna  -- to drop rows with missing values

Pandas fillna -- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.htmlhttps://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html

In [2]:
import pandas as pd

from google.colab import files
uploaded = files.upload()
import io

df = pd.read_csv(io.BytesIO(uploaded['Weather_Data.csv']))    #Reading CSV file

KeyboardInterrupt: ignored

In [0]:
df

          day  temperature  windspeed   event
0  01-01-2017         32.0        6.0    Rain
1  01-04-2017          NaN        9.0   Sunny
2  01-05-2017         28.0        NaN    Snow
3  01-06-2017          NaN        7.0     NaN
4  01-07-2017         32.0        NaN    Rain
5  01-08-2017          NaN        NaN   Sunny
6  01-09-2017          NaN        NaN     NaN
7  01-10-2017         34.0        8.0  Cloudy
8  01-11-2017         40.0       12.0   Sunny

In [0]:
type(df.day[0])    # To find out the data type of the Day column

str

In [0]:
df = pd.read_csv(io.BytesIO(uploaded['Weather_Data.csv']),parse_dates = ["day"])   # To convert the "day" column from "string" to "date" type

In [0]:
df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        9.0   Sunny
2 2017-01-05         28.0        NaN    Snow
3 2017-01-06          NaN        7.0     NaN
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          NaN        NaN     NaN
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [0]:
type(df.day[0])

pandas._libs.tslibs.timestamps.Timestamp

In [0]:
df.set_index('day', inplace = True)     # To make the day column as index --- Inplace is required -- or else it will not overwrite the old df with new df.
df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        9.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-09          NaN        NaN     NaN
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

In [0]:
df_new1 = df.fillna(0)    # to replace all the NAN values (in all columns) with the value passed as an argument -- Which is 0 in the given example
df_new1

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          0.0        9.0   Sunny
2017-01-05         28.0        0.0    Snow
2017-01-06          0.0        7.0       0
2017-01-07         32.0        0.0    Rain
2017-01-08          0.0        0.0   Sunny
2017-01-09          0.0        0.0       0
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

In [0]:
# If we want to replace NaN values with different values for different columns.

df_new2 = df.fillna({
    'temperature' : 0,
    'windspeed' : 0,
    'event' : "No Event"
})    #All NaN values in column temperature should be replaced by 0, same in column windspeed, but for column event, replace with value "No event".
df_new2

            temperature  windspeed     event
day
2017-01-01         32.0        6.0      Rain
2017-01-04          0.0        9.0     Sunny
2017-01-05         28.0        0.0      Snow
2017-01-06          0.0        7.0  No Event
2017-01-07         32.0        0.0      Rain
2017-01-08          0.0        0.0     Sunny
2017-01-09          0.0        0.0  No Event
2017-01-10         34.0        8.0    Cloudy
2017-01-11         40.0       12.0     Sunny

In [0]:
df_new3 = df.fillna(method = "ffill")    #Forward Fill -- To copy value from previous cell / day.
df_new3

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04         32.0        9.0   Sunny
2017-01-05         28.0        9.0    Snow
2017-01-06         28.0        7.0    Snow
2017-01-07         32.0        7.0    Rain
2017-01-08         32.0        7.0   Sunny
2017-01-09         32.0        7.0   Sunny
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

In [0]:
df_new4 = df.fillna(method = "bfill")    #Backward Fill -- To copy value from next cell / day.
df_new4

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04         28.0        9.0   Sunny
2017-01-05         28.0        7.0    Snow
2017-01-06         32.0        7.0    Rain
2017-01-07         32.0        8.0    Rain
2017-01-08         34.0        8.0   Sunny
2017-01-09         34.0        8.0  Cloudy
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

In [0]:
df_new5 = df.fillna(method = "bfill", axis = "columns")    # axis = "column" ---- To copy values from next column.
df_new5

           temperature windspeed   event
day
2017-01-01          32         6    Rain
2017-01-04           9         9   Sunny
2017-01-05          28      Snow    Snow
2017-01-06           7         7     NaN
2017-01-07          32      Rain    Rain
2017-01-08       Sunny     Sunny   Sunny
2017-01-09         NaN       NaN     NaN
2017-01-10          34         8  Cloudy
2017-01-11          40        12   Sunny

In [0]:
df_new6 = df.fillna(method = "ffill", limit = 1)    # limit = 1 -- as far as I am copying valid value to missing value.
df_new6    #8th and 9th jan value was 0.0 --- if limit is set to 1 (can copy only once), then only 8th jan value will be copied from previous cell, and 9th jan will remain as NaN.

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04         32.0        9.0   Sunny
2017-01-05         28.0        9.0    Snow
2017-01-06         28.0        7.0    Snow
2017-01-07         32.0        7.0    Rain
2017-01-08         32.0        NaN   Sunny
2017-01-09          NaN        NaN   Sunny
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

                                                                    ---------------- Interpolate-----------------

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.interpolate.html?highlight=interpolate#pandas.DataFrame.interpolate

In [0]:
df_new7 = df.interpolate()      #LINEAR Interpolation (For better guess)  --- since 4th Jan value is missing --- intead of copying previous / next day value, it interpolated the value. 
df_new7   # Intermidiate data point

            temperature  windspeed   event
day
2017-01-01    32.000000       6.00    Rain
2017-01-04    30.000000       9.00   Sunny
2017-01-05    28.000000       8.00    Snow
2017-01-06    30.000000       7.00     NaN
2017-01-07    32.000000       7.25    Rain
2017-01-08    32.666667       7.50   Sunny
2017-01-09    33.333333       7.75     NaN
2017-01-10    34.000000       8.00  Cloudy
2017-01-11    40.000000      12.00   Sunny

In [0]:
df_new8 = df.interpolate(method = "time")   # Since 2nd and 3rd Jan data is not present, so the guess for missing value for 4th jan should be near to 5th jan. So we add method = time, where it will consider time/date as well.
df_new8

            temperature  windspeed   event
day
2017-01-01    32.000000       6.00    Rain
2017-01-04    29.000000       9.00   Sunny
2017-01-05    28.000000       8.00    Snow
2017-01-06    30.000000       7.00     NaN
2017-01-07    32.000000       7.25    Rain
2017-01-08    32.666667       7.50   Sunny
2017-01-09    33.333333       7.75     NaN
2017-01-10    34.000000       8.00  Cloudy
2017-01-11    40.000000      12.00   Sunny

In [1]:
df_new9 = df.dropna()   # It will drop the entire rows if any of the column has a NaN value.
df_new9

NameError: ignored

In [0]:
df_new10 = df.dropna(how = "all")   # It will drop the rows only if the value in all the columns are NaN.
df_new10   # It will remove 9th Jan Data. As all the columns are NaN. It has Date column, but Date column is considered as INDEX.

In [0]:
df_new11 = df.dropna(thresh = 1)   # Keep the row if it has atleast 1 non NA value.  -- similar to (how = all)
df_new11    

# If thresh = 2, then it will keep the rows having atleast 2 non NaN Value -- And will delete row with just 1 non NaN value.

In [0]:
# How to insert missing date.
dt = pd.date_range("01-01-2019", "01-11-2019")
idx = pd.DatetimeIndex(dt)
df_new12 = df.reindex(idx)