<a href="https://colab.research.google.com/github/VitikaJain25/PandasRevision/blob/master/Pivot_Table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

-----------------Pivot allows you to transform or reshape your data--------------

In [3]:
import pandas as pd
from google.colab import files
uploaded = files.upload()
import io
df = pd.read_csv(io.BytesIO(uploaded['weather.csv']))

Saving weather.csv to weather (1).csv

In [4]:
df

       date      city  temperature  humidity
0  5/1/2017  new york           65        56
1  5/2/2017  new york           66        58
2  5/3/2017  new york           68        60
3  5/1/2017    mumbai           75        80
4  5/2/2017    mumbai           78        83
5  5/3/2017    mumbai           82        85
6  5/1/2017   beijing           80        26
7  5/2/2017   beijing           77        30
8  5/3/2017   beijing           79        35

In [6]:
# First argument -> What u want on your x axis or ROW -- 2nd argument -> Name of columns.
df.pivot(index = "date", columns = "city")

         temperature                 humidity
city         beijing mumbai new york  beijing mumbai new york
date
5/1/2017          80     75       65       26     80       56
5/2/2017          77     78       66       30     83       58
5/3/2017          79     82       68       35     85       60

In [7]:
# If you want only "Humidity" as you column (3rd argument).
df.pivot(index = "date", columns = "city", values = "humidity")

city      beijing  mumbai  new york
date
5/1/2017       26      80        56
5/2/2017       30      83        58
5/3/2017       35      85        60

--------------------Pivot Table is used to summarize and aggregate data inside dataframe---------------------

In [9]:
from google.colab import files
uploaded = files.upload()
import io
df2 = pd.read_csv(io.BytesIO(uploaded['weather2.csv']))

Saving weather2.csv to weather2.csv

In [21]:
df2    # Few observations in Data -- In Newyork for the same day we have 2 different temperatures. -- Same for Mumbai.

       date      city  temperature  humidity
0  5/1/2017  new york           65        56
1  5/1/2017  new york           61        54
2  5/2/2017  new york           70        60
3  5/2/2017  new york           72        62
4  5/1/2017    mumbai           75        80
5  5/1/2017    mumbai           78        83
6  5/2/2017    mumbai           82        85
7  5/2/2017    mumbai           80        26

In [23]:
# Create a DF which contains an average temperature for the day.
df2.pivot_table(index  = "city", columns = "date")

         humidity          temperature
date     5/1/2017 5/2/2017    5/1/2017 5/2/2017
city
mumbai       81.5     55.5        76.5     81.0
new york     55.0     61.0        63.0     71.0

In [24]:
# If you want to define your aggregate funtion.
df2.pivot_table(index  = "city", columns = "date", aggfunc = "sum")

# https://docs.scipy.org/doc/numpy-1.13.0/reference/routines.math.html
# Can try with other functions.
# sum, diff, mean(default), count.

         humidity          temperature
date     5/1/2017 5/2/2017    5/1/2017 5/2/2017
city
mumbai        163      111         153      162
new york      110      122         126      142

In [18]:
#Margins - Will provide margings which will have aggregate statistics.
df2.pivot_table(index  = "city", columns = "date", aggfunc = "sum", margins = True)

         humidity               temperature
date     5/1/2017 5/2/2017  All    5/1/2017 5/2/2017  All
city
mumbai        163      111  274         153      162  315
new york      110      122  232         126      142  268
All           273      233  506         279      304  583

In [42]:
#Grouper Function
from google.colab import files
uploaded = files.upload()
import io
df5 = pd.read_csv(io.BytesIO(uploaded['weather3.csv']))

Saving weather3.csv to weather3 (3).csv

In [43]:
df5   #Weather in NY at different dates.

        date      city  temperature  humidity
0   5/1/2017  new york           65        56
1   5/2/2017  new york           61        54
2   5/3/2017  new york           70        60
3  12/1/2017  new york           30        50
4  12/2/2017  new york           28        52
5  12/3/2017  new york           25        51

In [44]:
# Apply Grouper function to aggregate based on date
# Avg temp in month of May or December
df5.pivot_table(index = pd.Grouper(freq= 'M', key = 'date'), columns = 'city')    # M = Month

#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Grouper.html

#arguments - Freq --- Key = column on which you want to apply grouping operation.

TypeError: ignored

In [46]:
# Error as the value in Date column is not in date format and is in String Format.
# To Fix error:

df5['date'] = pd.to_datetime(df5['date'])
df5

        date      city  temperature  humidity
0 2017-05-01  new york           65        56
1 2017-05-02  new york           61        54
2 2017-05-03  new york           70        60
3 2017-12-01  new york           30        50
4 2017-12-02  new york           28        52
5 2017-12-03  new york           25        51

In [47]:
df5.pivot_table(index = pd.Grouper(freq= 'M', key = 'date'), columns = 'city')

# Shows the avg temp in month of May and Dec.

             humidity temperature
city         new york    new york
date
2017-05-31  56.666667   65.333333
2017-12-31  51.000000   27.666667