<a href="https://colab.research.google.com/github/VitikaJain25/PandasRevision/blob/master/Read_Write_CSV_Excel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Read CSV / Write CSV
Read xlsx / Write xlsx

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html -- Read CSV

In [8]:
import pandas as pd
from google.colab import files  #To read file from local
import io
uploaded = files.upload()   # To upload file from local.

df = pd.read_csv(io.BytesIO(uploaded['cars.csv']))

Saving cars.csv to cars (1).csv

In [9]:
df

                  Model            mpg  cyl           disp   hp
0             Mazda RX4             21    6            160  110
1         Mazda RX4 Wag             21    6            160  110
2            Datsun 710           22.8    4  not available  n.a
3        Hornet 4 Drive           21.4    6            258  110
4     Hornet Sportabout             -1    8            360  175
5               Valiant           18.1    6            225  105
6            Duster 360           14.3    8            360  245
7             Merc 240D           24.4    4            n.a   62
8              Merc 230           22.8    4          140.8   95
9              Merc 280           19.2    6          167.6  123
10            Merc 280C           17.8    6          167.6  123
11           Merc 450SE           16.4   -1          275.8  180
12           Merc 450SL  not available    8          275.8  180
13          Merc 450SLC           15.2    8          275.8  180
14   Cadillac Fleetwood           10.4    8            472  205
15  Lincoln Continental           10.4    8            460  215
16    Chrysler Imperial           14.7    8            440  230
17             Fiat 128           32.4    4             -1   66
18          Honda Civic           30.4    4           75.7   52
19       Toyota Corolla             -1    4           71.1   -1
20        Toyota Corona           21.5    4          120.1   97
21     Dodge Challenger           15.5    8            318  150
22          AMC Javelin           15.2    8            304  150
23           Camaro Z28           13.3    8            350  245
24     Pontiac Firebird           19.2    8            400  175
25            Fiat X1-9           27.3    4             79   66
26        Porsche 914-2             26    4          120.3   91
27         Lotus Europa           30.4    4           95.1  113
28       Ford Pantera L           15.8    8            351  264
29         Ferrari Dino           19.7    6            145  175
30        Maserati Bora             15    8            301  335
31           Volvo 142E           21.4    4            121  109

In [10]:
df1 = pd.read_csv(io.BytesIO(uploaded['cars.csv']),skiprows = 1)  #To skip rowsfrom top -- this will skip 1 row from top -- Skipped the header in this case.
# ---- OR----
#df1 = pd.read_csv(io.BytesIO(uploaded['cars.csv']), header = 1) # OR you can say header = 1 -- Means your header is located at row-2 (as index starts from 0)
df1

              Mazda RX4             21  6            160  110
0         Mazda RX4 Wag             21  6            160  110
1            Datsun 710           22.8  4  not available  n.a
2        Hornet 4 Drive           21.4  6            258  110
3     Hornet Sportabout             -1  8            360  175
4               Valiant           18.1  6            225  105
5            Duster 360           14.3  8            360  245
6             Merc 240D           24.4  4            n.a   62
7              Merc 230           22.8  4          140.8   95
8              Merc 280           19.2  6          167.6  123
9             Merc 280C           17.8  6          167.6  123
10           Merc 450SE           16.4 -1          275.8  180
11           Merc 450SL  not available  8          275.8  180
12          Merc 450SLC           15.2  8          275.8  180
13   Cadillac Fleetwood           10.4  8            472  205
14  Lincoln Continental           10.4  8            460  215
15    Chrysler Imperial           14.7  8            440  230
16             Fiat 128           32.4  4             -1   66
17          Honda Civic           30.4  4           75.7   52
18       Toyota Corolla             -1  4           71.1   -1
19        Toyota Corona           21.5  4          120.1   97
20     Dodge Challenger           15.5  8            318  150
21          AMC Javelin           15.2  8            304  150
22           Camaro Z28           13.3  8            350  245
23     Pontiac Firebird           19.2  8            400  175
24            Fiat X1-9           27.3  4             79   66
25        Porsche 914-2             26  4          120.3   91
26         Lotus Europa           30.4  4           95.1  113
27       Ford Pantera L           15.8  8            351  264
28         Ferrari Dino           19.7  6            145  175
29        Maserati Bora             15  8            301  335
30           Volvo 142E           21.4  4            121  109

In [11]:
df2 = pd.read_csv(io.BytesIO(uploaded['cars.csv']),header = None)  # If you fie does not contain the header. Automatically column names are generated like 1,2,3 etc
df2

                      0              1    2              3    4
0                 Model            mpg  cyl           disp   hp
1             Mazda RX4             21    6            160  110
2         Mazda RX4 Wag             21    6            160  110
3            Datsun 710           22.8    4  not available  n.a
4        Hornet 4 Drive           21.4    6            258  110
5     Hornet Sportabout             -1    8            360  175
6               Valiant           18.1    6            225  105
7            Duster 360           14.3    8            360  245
8             Merc 240D           24.4    4            n.a   62
9              Merc 230           22.8    4          140.8   95
10             Merc 280           19.2    6          167.6  123
11            Merc 280C           17.8    6          167.6  123
12           Merc 450SE           16.4   -1          275.8  180
13           Merc 450SL  not available    8          275.8  180
14          Merc 450SLC           15.2    8          275.8  180
15   Cadillac Fleetwood           10.4    8            472  205
16  Lincoln Continental           10.4    8            460  215
17    Chrysler Imperial           14.7    8            440  230
18             Fiat 128           32.4    4             -1   66
19          Honda Civic           30.4    4           75.7   52
20       Toyota Corolla             -1    4           71.1   -1
21        Toyota Corona           21.5    4          120.1   97
22     Dodge Challenger           15.5    8            318  150
23          AMC Javelin           15.2    8            304  150
24           Camaro Z28           13.3    8            350  245
25     Pontiac Firebird           19.2    8            400  175
26            Fiat X1-9           27.3    4             79   66
27        Porsche 914-2             26    4          120.3   91
28         Lotus Europa           30.4    4           95.1  113
29       Ford Pantera L           15.8    8            351  264
30         Ferrari Dino           19.7    6            145  175
31        Maserati Bora             15    8            301  335
32           Volvo 142E           21.4    4            121  109

In [12]:
df3 = pd.read_csv(io.BytesIO(uploaded['cars.csv']),header = None, names = ["Model" , "mpg", "cyl", "Disp" , "hp"]) 
# If your file does not contain the header. You can specify the column names as an argument.
df3

                  Model            mpg  cyl           Disp   hp
0                 Model            mpg  cyl           disp   hp
1             Mazda RX4             21    6            160  110
2         Mazda RX4 Wag             21    6            160  110
3            Datsun 710           22.8    4  not available  n.a
4        Hornet 4 Drive           21.4    6            258  110
5     Hornet Sportabout             -1    8            360  175
6               Valiant           18.1    6            225  105
7            Duster 360           14.3    8            360  245
8             Merc 240D           24.4    4            n.a   62
9              Merc 230           22.8    4          140.8   95
10             Merc 280           19.2    6          167.6  123
11            Merc 280C           17.8    6          167.6  123
12           Merc 450SE           16.4   -1          275.8  180
13           Merc 450SL  not available    8          275.8  180
14          Merc 450SLC           15.2    8          275.8  180
15   Cadillac Fleetwood           10.4    8            472  205
16  Lincoln Continental           10.4    8            460  215
17    Chrysler Imperial           14.7    8            440  230
18             Fiat 128           32.4    4             -1   66
19          Honda Civic           30.4    4           75.7   52
20       Toyota Corolla             -1    4           71.1   -1
21        Toyota Corona           21.5    4          120.1   97
22     Dodge Challenger           15.5    8            318  150
23          AMC Javelin           15.2    8            304  150
24           Camaro Z28           13.3    8            350  245
25     Pontiac Firebird           19.2    8            400  175
26            Fiat X1-9           27.3    4             79   66
27        Porsche 914-2             26    4          120.3   91
28         Lotus Europa           30.4    4           95.1  113
29       Ford Pantera L           15.8    8            351  264
30         Ferrari Dino           19.7    6            145  175
31        Maserati Bora             15    8            301  335
32           Volvo 142E           21.4    4            121  109

In [13]:
df4 = pd.read_csv(io.BytesIO(uploaded['cars.csv']),nrows = 5) # If you want to view only few rows -- Specify number of rows -- It will read no. of rows excluding the Header.
df4

               Model   mpg  cyl           disp   hp
0          Mazda RX4  21.0    6            160  110
1      Mazda RX4 Wag  21.0    6            160  110
2         Datsun 710  22.8    4  not available  n.a
3     Hornet 4 Drive  21.4    6            258  110
4  Hornet Sportabout  -1.0    8            360  175

In [16]:
df5 = pd.read_csv(io.BytesIO(uploaded['cars.csv']),na_values=["n.a", "not available"]) 
# If any cell contains value "n.a" or "not available", then convert them to NaN value. -- Used in Cleaning Dats.
# We cannot include -1 in the na_values list, as we do not want to convert -1 to NaN for all columns, but just few of them.
df5

                  Model   mpg  cyl   disp     hp
0             Mazda RX4  21.0    6  160.0  110.0
1         Mazda RX4 Wag  21.0    6  160.0  110.0
2            Datsun 710  22.8    4    NaN    NaN
3        Hornet 4 Drive  21.4    6  258.0  110.0
4     Hornet Sportabout  -1.0    8  360.0  175.0
5               Valiant  18.1    6  225.0  105.0
6            Duster 360  14.3    8  360.0  245.0
7             Merc 240D  24.4    4    NaN   62.0
8              Merc 230  22.8    4  140.8   95.0
9              Merc 280  19.2    6  167.6  123.0
10            Merc 280C  17.8    6  167.6  123.0
11           Merc 450SE  16.4   -1  275.8  180.0
12           Merc 450SL   NaN    8  275.8  180.0
13          Merc 450SLC  15.2    8  275.8  180.0
14   Cadillac Fleetwood  10.4    8  472.0  205.0
15  Lincoln Continental  10.4    8  460.0  215.0
16    Chrysler Imperial  14.7    8  440.0  230.0
17             Fiat 128  32.4    4   -1.0   66.0
18          Honda Civic  30.4    4   75.7   52.0
19       Toyota Corolla  -1.0    4   71.1   -1.0
20        Toyota Corona  21.5    4  120.1   97.0
21     Dodge Challenger  15.5    8  318.0  150.0
22          AMC Javelin  15.2    8  304.0  150.0
23           Camaro Z28  13.3    8  350.0  245.0
24     Pontiac Firebird  19.2    8  400.0  175.0
25            Fiat X1-9  27.3    4   79.0   66.0
26        Porsche 914-2  26.0    4  120.3   91.0
27         Lotus Europa  30.4    4   95.1  113.0
28       Ford Pantera L  15.8    8  351.0  264.0
29         Ferrari Dino  19.7    6  145.0  175.0
30        Maserati Bora  15.0    8  301.0  335.0
31           Volvo 142E  21.4    4  121.0  109.0

In [20]:
# We cannot include -1 in the na_values list, as we do not want to convert -1 to NaN for all columns, but just few of them.
# For this, we can use a dictionary instead of List.
df6 = pd.read_csv(io.BytesIO(uploaded['cars.csv']),na_values={
    'model' : ["n.a", "not available", -1],
    'mpg' : ["n.a", "not available"],
    'cyl' : ["n.a", "not available",-1],
    'disp' : ["n.a", "not available"],
    'hp' : ["n.a", "not available"]
})  # if we want to eliminate -1 from few columns. -- We can mention column wise, the values we want to convert to NaN value.
# Data Munging / Data Wrangling / Data Cleaning.
df6

                  Model   mpg  cyl   disp     hp
0             Mazda RX4  21.0  6.0  160.0  110.0
1         Mazda RX4 Wag  21.0  6.0  160.0  110.0
2            Datsun 710  22.8  4.0    NaN    NaN
3        Hornet 4 Drive  21.4  6.0  258.0  110.0
4     Hornet Sportabout  -1.0  8.0  360.0  175.0
5               Valiant  18.1  6.0  225.0  105.0
6            Duster 360  14.3  8.0  360.0  245.0
7             Merc 240D  24.4  4.0    NaN   62.0
8              Merc 230  22.8  4.0  140.8   95.0
9              Merc 280  19.2  6.0  167.6  123.0
10            Merc 280C  17.8  6.0  167.6  123.0
11           Merc 450SE  16.4  NaN  275.8  180.0
12           Merc 450SL   NaN  8.0  275.8  180.0
13          Merc 450SLC  15.2  8.0  275.8  180.0
14   Cadillac Fleetwood  10.4  8.0  472.0  205.0
15  Lincoln Continental  10.4  8.0  460.0  215.0
16    Chrysler Imperial  14.7  8.0  440.0  230.0
17             Fiat 128  32.4  4.0   -1.0   66.0
18          Honda Civic  30.4  4.0   75.7   52.0
19       Toyota Corolla  -1.0  4.0   71.1   -1.0
20        Toyota Corona  21.5  4.0  120.1   97.0
21     Dodge Challenger  15.5  8.0  318.0  150.0
22          AMC Javelin  15.2  8.0  304.0  150.0
23           Camaro Z28  13.3  8.0  350.0  245.0
24     Pontiac Firebird  19.2  8.0  400.0  175.0
25            Fiat X1-9  27.3  4.0   79.0   66.0
26        Porsche 914-2  26.0  4.0  120.3   91.0
27         Lotus Europa  30.4  4.0   95.1  113.0
28       Ford Pantera L  15.8  8.0  351.0  264.0
29         Ferrari Dino  19.7  6.0  145.0  175.0
30        Maserati Bora  15.0  8.0  301.0  335.0
31           Volvo 142E  21.4  4.0  121.0  109.0

                                                      
                                                      -----WRITING TO CSV-----

In [0]:
df6.to_csv("new.csv")   # To write to CSV.

In [0]:
df6.to_csv("new.csv",index = false)   # If we do not want to write the index in CSV.

In [0]:
df6.to_csv("new.csv",columns = ['Model','hp'])   # If we want to write only selected columns to CSV.

In [0]:
df6.to_csv("new.csv",headers = False)   # If user wants to skip writing the headers to CSV.

                                                    -----READ EXCEL------

In [23]:
import pandas as pd
from google.colab import files  #To read file from local
import io
uploaded = files.upload()   # To upload file from local.

df7 = pd.read_excel(io.BytesIO(uploaded['cars.xlsx']),"Sheet1")   # To read excel file

Saving cars.xlsx to cars.xlsx

In [24]:

df7

                  Model            mpg  cyl           disp   hp
0             Mazda RX4             21    6            160  110
1         Mazda RX4 Wag             21    6            160  110
2            Datsun 710           22.8    4  not available  n.a
3        Hornet 4 Drive           21.4    6            258  110
4     Hornet Sportabout             -1    8            360  175
5               Valiant           18.1    6            225  105
6            Duster 360           14.3    8            360  245
7             Merc 240D           24.4    4            n.a   62
8              Merc 230           22.8    4          140.8   95
9              Merc 280           19.2    6          167.6  123
10            Merc 280C           17.8    6          167.6  123
11           Merc 450SE           16.4   -1          275.8  180
12           Merc 450SL  not available    8          275.8  180
13          Merc 450SLC           15.2    8          275.8  180
14   Cadillac Fleetwood           10.4    8            472  205
15  Lincoln Continental           10.4    8            460  215
16    Chrysler Imperial           14.7    8            440  230
17             Fiat 128           32.4    4             -1   66
18          Honda Civic           30.4    4           75.7   52
19       Toyota Corolla             -1    4           71.1   -1
20        Toyota Corona           21.5    4          120.1   97
21     Dodge Challenger           15.5    8            318  150
22          AMC Javelin           15.2    8            304  150
23           Camaro Z28           13.3    8            350  245
24     Pontiac Firebird           19.2    8            400  175
25            Fiat X1-9           27.3    4             79   66
26        Porsche 914-2             26    4          120.3   91
27         Lotus Europa           30.4    4           95.1  113
28       Ford Pantera L           15.8    8            351  264
29         Ferrari Dino           19.7    6            145  175
30        Maserati Bora             15    8            301  335
31           Volvo 142E           21.4    4            121  109

In [4]:
import pandas as pd
from google.colab import files  #To read file from local
import io
uploaded = files.upload()   # To upload file from local.

def convert_mpg_cell(cell):    # Function to convert values of particular column.  --- If value is found to be "not available", then replace with 25.
  if cell == "not available":
    return 25
  return cell

df8 = pd.read_excel(io.BytesIO(uploaded['cars.xlsx']),"Sheet1", converters = {
    'mpg' : convert_mpg_cell         #Calling function.  --- Similarly can be done for other columns -- Write different functions for different columns. 
})

Saving cars.xlsx to cars (1).xlsx

In [5]:
df8

                  Model   mpg  cyl           disp   hp
0             Mazda RX4  21.0    6            160  110
1         Mazda RX4 Wag  21.0    6            160  110
2            Datsun 710  22.8    4  not available  n.a
3        Hornet 4 Drive  21.4    6            258  110
4     Hornet Sportabout  -1.0    8            360  175
5               Valiant  18.1    6            225  105
6            Duster 360  14.3    8            360  245
7             Merc 240D  24.4    4            n.a   62
8              Merc 230  22.8    4          140.8   95
9              Merc 280  19.2    6          167.6  123
10            Merc 280C  17.8    6          167.6  123
11           Merc 450SE  16.4   -1          275.8  180
12           Merc 450SL  25.0    8          275.8  180
13          Merc 450SLC  15.2    8          275.8  180
14   Cadillac Fleetwood  10.4    8            472  205
15  Lincoln Continental  10.4    8            460  215
16    Chrysler Imperial  14.7    8            440  230
17             Fiat 128  32.4    4             -1   66
18          Honda Civic  30.4    4           75.7   52
19       Toyota Corolla  -1.0    4           71.1   -1
20        Toyota Corona  21.5    4          120.1   97
21     Dodge Challenger  15.5    8            318  150
22          AMC Javelin  15.2    8            304  150
23           Camaro Z28  13.3    8            350  245
24     Pontiac Firebird  19.2    8            400  175
25            Fiat X1-9  27.3    4             79   66
26        Porsche 914-2  26.0    4          120.3   91
27         Lotus Europa  30.4    4           95.1  113
28       Ford Pantera L  15.8    8            351  264
29         Ferrari Dino  19.7    6            145  175
30        Maserati Bora  15.0    8            301  335
31           Volvo 142E  21.4    4            121  109

In [0]:
df8.to_excel("new.xlsx" , sheet_name = "cars_sheet")   # to write to excel -- mention sheet name.

In [0]:
df8.to_excel("new.xlsx" , sheet_name = "cars_sheet", startrow = 2, startcol = 3)   # to start writing from particular row / column.

In [0]:
df8.to_excel("new.xlsx" , sheet_name = "cars_sheet", index = False)   # If want to skip writing index column.

In [0]:
# Writing 2 dataframes in same excel but in different sheet.

df_stocks = pd.DataFrame({                   # 1st Dataframe.
    'tickers': ['GOOGL', 'WMT', 'MSFT'],
    'price': [845, 65, 64 ],
    'pe': [30.37, 14.26, 30.97],
    'eps': [27.82, 4.61, 2.12]
})
df_weather =  pd.DataFrame({                 # 2nd Dataframe
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'event': ['Rain', 'Sunny', 'Snow']
})
with pd.ExcelWriter('stocks_weather.xlsx') as writer:
    df_stocks.to_excel(writer, sheet_name="stocks")
    df_weather.to_excel(writer, sheet_name="weather")